<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Xorder</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type='text/css'>
    {% endblock %}
  </head>
  <body>
    <div id="content" class="container">
      <div class="col-sm-6 hidden-xs banner">
        <img src="/static/images/Group_244@2x.png" width="100%">
      </div>

      <div class="col-sm-6 col-xs-12 text-center">
        {% if error %}
          <p class="alert alert-danger"><strong>Error:</strong> {{error}}</p>
        {% endif %}

        {%if form.errors.items() %}
          {%for keys,errors in form.errors.items()%}
            {%for error in errors%}
              <p class="alert alert-danger"><strong>Error:</strong>{{error}}</p>
            {%endfor%}
          {%endfor%}
        {%endif%}

        <div id="logo">
          <a href="/">
            <img src="/static/images/logo.svg" width="50px" height="105px">
          </a>
        </div>

        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
  {% block footer %}
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
  {% endblock %}
</html>