body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
}
th, td {
    padding: 5px;
}
textarea.fixxxed {
    resize: none;
}
h2{
  clear: both;
}
input.description{
  padding: 5px 350px 100px 5px;
}
tr:nth-child(odd) {
  background-color: #f7f4f4
}
th {
  background-color: #fa9292;
  color: #fff;
  border: 0px;
  font-weight: bold;
}
/*Header*/
#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 2px 0 #1D1D1D;
}
#logo-img {
  background: url('../images/logo.svg') no-repeat;
  width: 116px;
  height: 70px;
  margin: 10px 0px 10px 0;
  background-size: 100% 100%;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /*Name*/
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 30px;
}
#nav-list a {
  color: #000 ;
  text-align: center;
}
#nav-list a span {
  font-size: 1.6em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -55px;
}
#navLogInButton a{
  border: 1px solid #707070;
  border-radius: 100px;
  padding: 6.5px 31.59px 7.03px 32.5px;
  color: #43425D;
}
#navSignUpButton a{
  border: 1px solid #707070;
  border-radius: 100px;
  padding: 6.5px 31.59px 7.03px 32.5px;
  color: #fff;
  background-color: #43425D;
}
#or{
  padding-top: 5px;
  color: #4D4F5C;
  opacity: .3;
  margin-right:5px;
  margin-left:5px;
}
/*End Header*/
/**/
.jumbatron{
  background: url('../images/header_Image@2x.png') no-repeat;
  height: 765px;
  background-size: 100% 100%;
  margin-top: -110px;
  color: #fff;
}
.jumbatron h1{
  font-size: 92px;
  font-weight: bold;
  position: relative;
  top: 38%
}
.jumbatron .subtitle{
  font-size: 28px;
  font-weight: 100;
  position: relative;
  top: 40%;
  width: 720px;
  margin: auto;
}

.getstarted{
  border-radius: 100px;
  background-color: #ff6565;
  margin: auto;
  font-size: 24px;
  padding-top: 7px; 
  width: 261px;
  height: 52px;
  position: relative;
  top: 45%
}
.getstarted a{
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.getstarted a:hover, .getstarted a:focus{
  text-decoration: none;
  color: #fff;
}

#features, #customers{
  margin-top: 93px;
  background-color: #f0f0f0;
}
#features:before, #customers:before{
  content: "";
  background-color: #f0f0f0;
  position: absolute;
  height: 359px;
  width: 100%;
  left: 0;
  z-index: -1;
}
#features img{
  margin-top: 51px;
  width: 118px;
  height: 107px;
}
.feature_subtitle{
  width: 250px;
  font-size: 35px;
  font-weight: bold;
  color: #43425d;
}
h2{
  margin: 100px;
  font-size: 42px;
  color: #43425d;
  font-weight: bold;
}
#customers img{
  margin: 120px 0;
  width: 118px;
  height: 120px;
}
#second.getstarted{
  margin: 76px auto;
}
/**/
/**/
.banner>img{
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: -30vw;
}
#logo{
  margin-top: 10%;
}
.subh{
  font-size: 18px;
  opacity: 0.5;
  color: #4d4f5c;
  margin-bottom: 32px;
}
.form-button{
  font-size: 13px;
  height: 38px;
  float: inherit;
  background-color: #43425D;
  color: #FFF;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #43425D;
}
.form-button-negative{
  font-size: 13px;
  height: 38px;
  float: inherit;
  background-color: #fff;
  color: #43425D;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #43425D;
  display: inline-block;
  padding-top: 9px;
}
.form-button-negative:hover{
  text-decoration: none;
  color: #43425D;
}
#signin{
  margin-top: 15px;
}
#signin a{
  text-decoration: underline;
  color: #43435d;
  font-size: 15px;
}
input{
  font-size: 15px;
  border: 0px;
  box-shadow: 0 1px 0 0 #adadad;
  margin: 32px 0;
  width: 283px;
}
input:focus{
  outline: none;
}
/**/
/*Footer*/
.panel-footer {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #43425D;
  border-top: 0;
  line-height: .8;
  font-size: 0.8em;
}
.panel-footer section{
	margin-top: 5px;
	color: #fff;
}
.panel-footer div{
  border: 1px solid #43425D;
  padding: 5px; 
  margin-top: 2px;
  color: #fff;
}
.footer_link:hover{
  border: 1px solid #D6D6D6;
}
.footer_link{
  font-size: 17px;
  font-weight: bold;
}
.panel-footer div.row{
	margin-bottom: 8px;
}
/*End Footer*/

/*Large devices only*/
@media (min-width: 1850px) and (max-width:2559px){
  .banner>img{
      left: -28vw;
    }
}

@media (min-width: 1200px) and (max-width:1849px){
  .banner>img{
      left: -20vw;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){
  /* Header */
  #logo-img{
    width: 125px;
    height: 80px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
  .banner>img{
      left: -15vw;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px){
  body{
  font-size: 14px;
  }
  /* Header */
  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }
  #nav-list{
    margin-top: 5px;
  }
  .navbar-nav>li>a{
    padding-right: 8px;
    padding-left: 8px;
  }
  /* End Header */
  .feature_subtitle{
    width: 118px;
  }
  .banner>img{
      left: -18vw;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  body{
    font-size: 11px;
  }
  h1{
    font-size: 26px;
  }
  /* Header */
  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1{ /* Name */
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a{ /* Collapsed nav text */
    font-size: 1.2em;
  }
  #collapsable-nav a span{ /* Collapsed nav glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Footer */
  .panel-footer section{
    margin-bottom: 30px;
    text-align: center;
  }
  /* End Footer */
}