{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if error %}
<p class="alert alert-danger"><strong>Error:</strong> {{ error }}
{% endif %}
{% if store%}
<h1>Edit my Shop</h1>

<form action="{{url_for('updateStore', userid=usr, storeid=store.id)}}" method="post">
    <label>Store's Name</label><br>
    <textarea class="fixxxed" rows="1" cols="15" name="name">{{store.name}}</textarea><br>
    <label>Address</label><br>
    <textarea class="fixxxed" rows="1" cols="30" name="adress"></textarea><br>
    <input type="submit" value="Register Now">
</form>
{% else %}
<h1>Register Shop</h1>

<form action="{{url_for('createStore', userid=usr)}}" method="post">
  <label>Store's Name</label><br>
  <textarea class="fixxxed" rows="1" cols="15" name="name"></textarea><br>
  <label>Address</label><br>
  <textarea class="fixxxed" rows="1" cols="30" name="adress"></textarea><br>
  <input type="submit" value="Update">
</form>
{% endif %}
<div>
  <a href="{{url_for('index')}}">
    Back
  </a>
</div>

{% endblock %}
