{% extends "layout_clean.html" %}
{% block title %}Stores{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1 class="subh">Please enter your coffee shop's information to complete your registration.</h1>

  <form action="" method="post">
    {{form.name(placeholder='Coffee Shop\'s Name')}} <br>
    {{form.csrf_token}}
    <input type="submit" class="form-button col-sm-3" value="Register Now">
  </form>

  <div class="clearfix"></div>

  <div id="signin">
    <a href="{{url_for('index')}}">
      Back
    </a>
  </div>
{% endblock %}
