{% extends "layout.html" %}
{% block title %}Create Participant{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if error %}
    <p class="alert alert-danger"><strong>Error:</strong> {{ error }}
{% endif %}
<div class="col-md-6">
{% if item%}

<h1>Edit Item</h1>
<form action="{{ url_for('items.update', itemid=item.id) }}" method="post" enctype="multipart/form-data"></form>
  
    <label>Item Name</label><br>
    <input type="text" rows="1" cols="16" name='name' value="{{item.name}}"><br>
    

    <label>Item Description</label><br>
    <input class = "description" type="text" rows="4" cols="16" name='description' value="{{item.description}}"><br>
    

    <label>Price</label><br>
    <input type="text" rows="1" cols="16"name='price' value="{{item.price}}"><br>
    
    <input type="submit" style="margin-top: 10px;" value="Submit">

</form>
{% else %}

<h1>New Item</h1>

<form action="{{ url_for('items.create', storeid=store, userid=user) }}" method="post" enctype="multipart/form-data">

  
    <label>Item Name</label><br>
    <input type="text" rows="1" cols="16" name='name'><br>
  

    <label>Item Description</label><br>
    <input class = "description" type="text" rows="4" cols="16" name='description'><br>
  

    <label>Price</label><br>
    <input type="text" rows="1" cols="16"name='price'><br>
  
    
    <input type="submit" style="margin-top: 10px;" value="Submit">
</form>

{%endif%}
</div>
<div class="col-md-6">
{%if itm%}
  <h2>Existing Items</h2>

  <table class='table'>
    <tr>
      <th>Item name</th>
      <th>Item Description</th>
      <th>Price</th>
    </tr>
{%for i in itm%}    
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.description}}</td>
      <td>{{i.price}}</td>
    </tr>
{%endfor%}
    </tr>
  </table>
{%endif%}
</div>
<div class="clearfix">

</div>
<div >
  <a href="{{url_for('index')}}">
    Back
  </a>
</div>

{% endblock %}