{% extends "layout.html" %}
{% block title %}Create Participant{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if error %}
    <p class="alert alert-danger"><strong>Error:</strong> {{ error }}
{% endif %}
{% if usr%}

<h1>Edit User</h1>
<form action="{{ url_for('updateUser', usrid=usr.id) }}" method="post" enctype="multipart/form-data"></form>
  
<label>First Name</label><br>
  <input type="text" rows="1" cols="16" name='name' value="{{usr.name}}"><br>
  

  <label>E-mail</label><br>
  <input type="email" rows="1" cols="16" name='email' value="{{usr.mail}}"><br>
  

  <label>Password</label><br>
  <input type="password" rows="1" cols="16"name='password' value="{{usr.password}}"><br>
  
  <input type="submit" style="margin-top: 10px;" value="Submit">

</form>
{% else %}

<h1>New User</h1>

<form action="{{ url_for('createUser') }}" method="post" enctype="multipart/form-data">

  
    <label>First Name</label><br>
    <input type="text" rows="1" cols="16" name='name'><br>
    
    
    <label>E-mail</label><br>
    <input type="email" rows="1" cols="16" name='email'><br>
    
    <label>Password</label><br>
    <input type="password" rows="1" cols="16" name='password'><br>
    
    <input type="submit" style="margin-top: 10px;" value="Submit">
</form>

{%endif%}

<div>
  <a href="{{url_for('index')}}">
    Back
  </a>
</div>

{% endblock %}